services:
  db:
    image: mysql:8.0
    container_name: jobportal-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: jobportal_db
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 10

  web:
    build: .
    container_name: jobportal-web
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
